@model IEnumerable<Machinist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить машиниста", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ФИО
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Адрес проживания
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Category)
        </th>*@
        <th>
            Телефон
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.idMachinist }) |
            @Html.ActionLink("Детали", "Details", new { id=item.idMachinist }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.idMachinist })
        </td>
    </tr>

    @*<h4>Импорт/Экспорт</h4>*@
    @*<div class="button-area">
        <p> </p>
        @Html.ActionLink("Экспорт", "Export", new { }, new { @class = "btn btn-default dopBut" })

        @using (Html.BeginForm("Import", "AspNetUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Raw(ViewBag.Error)

            <div class="browse-button" style="margin-left:10px; margin-top:10px;">
                <input type="button" value="Открыть" class="btn btn-default">
                <input type="file" name="excelfile">
            </div>
            <input type="submit" value="Импорт" class="btn btn-default" style="margin-left:20px; margin-top:10px;" />

        }
        <p> </p>
    </div>*@
}

</table>
<div class="browse-button" style="margin-left:10px; margin-top:10px;">
    <input type="button" value="Экспорт" class="btn btn-default">
    <input type="file" name="excelfile">
</div>
<div class="browse-button" style="margin-left:10px; margin-top:10px;">
    <input type="button" value="Импорт" class="btn btn-default">
    <input type="file" name="excelfile">
</div>
