@model Railway

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Railway</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RailwayType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RailwayType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RailwayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RailwayName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRailway }) |
    @Html.ActionLink("Back to List", "Index")
</p>
