@model IEnumerable<Supply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Дата доставки
        </th>
        <th>
            Дата отправки
        </th>
        <th>
            Локомотив
        </th>
        <th>
            Пути
        </th>
        <th>
            Состав
        </th>
        <th>
            Машинист
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateofDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofDeparture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locos.LocoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Railway.RailwayType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipment.ShipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machinist.FIO)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.idSupply }) |
            @Html.ActionLink("Детали", "Details", new { id=item.idSupply }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.idSupply })
        </td>
    </tr>
}

</table>
