@model IEnumerable<Supply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateofDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofDeparture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locos.LocoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Railway.RailwayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipment.ShipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Machinist.FIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateofDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofDeparture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locos.LocoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Railway.RailwayType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipment.ShipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machinist.FIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSupply }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSupply }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSupply })
        </td>
    </tr>
}

</table>
